<footer>
    <nav class="round">
        <ul>
            <li><%= link_to "About", '#' %></li>
            <li><%= link_to "Contact", '#' %></li>
            <li><%= link_to "News", 'http://news.railstutorial.org'%></li>
            <li><%= link_to "Rails Tutorial", 'http://railstutorial.org'%></li>
            <li><h3><%= link_to '&#9731;'.html_safe, 'http://en.wikipedia.org/wiki/Frosty_the_Snowman'%></h3></li>    
        </ul>
    </nav>
</footer>